<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Personajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Segundo ion-header con collapse -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Personajes</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Contenedor de los tres cards -->
  <div class="card-container">
    <!-- Card 1 -->
    <ion-card (click)="toggleCard1()" [class.expanded]="isExpanded1">
      
      <ion-card-header>
        <ion-card-title>Personaje 1</ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="isExpanded1">
         <img src="assets/that-time-i-got-reincarnated-as-a-slime-season-4_syzb.jpg" alt="Thumbnail Personaje 1" />
        <p>Rey demonio Rimuru, es uno de los personajes mas poderosos y dueño de la ciudad Tempest.</p>
       
      </ion-card-content>
    </ion-card>

    <!-- Card 2 -->
    <ion-card (click)="toggleCard2()" [class.expanded]="isExpanded2">
      
      <ion-card-header>
        <ion-card-title>Personaje 2</ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="isExpanded2">
        <img src="assets/4d82197e5f90696c2912bdc4663eefae.jpg" alt="Thumbnail Personaje 2" />
        <p>Diablo, es uno de los demonios elementales apodado noir, uno de los entes mas poderosos de este universo.</p>
        
      </ion-card-content>
    </ion-card>

    <!-- Card 3 -->
    <ion-card (click)="toggleCard3()" [class.expanded]="isExpanded3">
      
      <ion-card-header>
        <ion-card-title>Personaje 3</ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="isExpanded3">
        <img src="assets/MV5BNTdlYmFjNWMtYjZkMS00MDY1LWFhYjQtYmViZTMzMjRlODhlXkEyXkFqcGc@._V1_.jpg" alt="Thumbnail Personaje 3" />
        <p>Benimaru, uno de los guardias y seguidores de Rimuru, es un ogro bastante poderoso.</p>
        
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
