ion-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f5; 
  }
  
  .card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  
  ion-card {
    transition: all 0.3s ease-in-out;
    max-height: 400px;
    overflow: hidden;
    width: 90%;
    max-width: 800px;
    margin-bottom: 20px; 
  }
  
  ion-card.expanded {
    max-height: 800px; 
  }
  
  ion-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  