<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Segundo ion-header con collapse -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Acerca de</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Contenedor del card centrado -->
  <div class="card-container">
    
    <!-- Card 1 -->
    <ion-card class="ion-padding" >
      <ion-card-title>That Time I Got Reincarnated as a Slime</ion-card-title>
      <img src="assets/840_560.jpeg" alt="Thumbnail del video" />
      <ion-card-header>
        
      </ion-card-header>
      <ion-card-content >
        <p>"That Time I Got Reincarnated as a Slime" (titulada en japonés como Tensei Shitara Suraimu Datta Ken o abreviada como TenSura) es una popular serie de novelas ligeras japonesas, escrita por Fuse e ilustrada por Mitz Vah. Fue inicialmente publicada en línea en 2013 en el sitio web Shōsetsuka ni Narō, y posteriormente adquirida por la editorial Micro Magazine, que comenzó a publicarla en formato impreso en 2014.

          La serie ha sido adaptada a múltiples formatos, incluyendo manga, anime y spin-offs, y ha ganado una gran base de fanáticos tanto en Japón como internacionalmente. </p>
          <iframe width="100%" height="200" src="https://www.youtube.com/embed/oUJt-K89sXU" frameborder="0" title="That Time I Got Reincarnated as a Slime Temporada 3 | TRÁILER OFICIAL" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        
      </ion-card-content>
    </ion-card>

 <!-- Card 2 -->
    <ion-card class="ion-padding" >
      <ion-card-title>Autor</ion-card-title>
      <img src="assets/images.jpg" alt="Thumbnail del video" />
      <ion-card-header>
        
      </ion-card-header>
      <ion-card-content >
        <p>El autor de That Time I Got Reincarnated as a Slime (Tensei Shitara Suraimu Datta Ken) es Fuse, un escritor japonés que se especializa en novelas ligeras del género isekai, donde los protagonistas son transportados o reencarnados en mundos de fantasía.

          A pesar de la enorme popularidad de su obra, Fuse mantiene un perfil bajo y no es muy activo en redes sociales ni realiza muchas apariciones públicas. Esto es común en algunos autores de novelas ligeras y mangas en Japón, quienes prefieren concentrarse en su trabajo sin demasiada exposición mediática. </p>
         
        
      </ion-card-content>
    </ion-card>

